    /* Overall styles */
    body {
        font-family: sans-serif;
    }

    /* Tab styles */
    .tabview {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 30px;
    }

    .tabview button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #777;
        transition: color 0.2s ease-in-out;
    }

    .tabview button.active {
        color: #6d97cf;
        border-bottom: 3px solid #1b6796;
        font-size: large;
    }

    li {
        list-style-type: none;
    }

    .teacher-name {
        font-weight: bold;
    }

    .add-student {
        cursor: pointer;
    }

    /* Content styles */
    .tabcontent {
        display: none;
        padding: 20px;
        border-top: 2px solid #aca4a4;
    }

    .tabcontent.active {
        display: block;
    }

    .ui-autocomplete {
        position: absolute !important;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .modal-body {
        height: 500px;
        overflow-y: auto;
    }

    .hero-element {
        background-color: #a2c9df;
        padding: 20px;
        color: white;
        border-radius: 10px;
        height: 200px
    }

    .input-container {
        padding: 20px;
        border: 1px solid #b3a6a6;
        border-radius: 10px;
    }

    textarea:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: #ced4da;
    }

    .up-coming {
        border: 1px solid #b3a6a6;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        justify-content: center;
    }

    .file-attach {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input-group {
        border-radius: 10px !important;
    }

    .file-ui {
        margin-top: 5px;
        background: #e3e4eb;
        padding: 14px;
        border: 1px solid lightgray;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .media {
        display: flex;
    }

    .media-body {
        margin-left: 20px;
    }

    .card-body {
        display: flex;
        justify-content: space-between;
    }

    .post-body {
        padding: 0 30px;
    }

    .comment {
        padding: 10px 30px;
    }

    .selected-files {
        padding: 20px;
    }

    video {
        width: 50%;
    }


    .no-group{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .no-group img{
        width: 10%;
    }

    #upload-csv{
        width: 400px;
        height: 400px;
        border: 3px solid black;
        border-style: dotted;
        background: white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .wrapper{
        padding: 40px;
        background: #f0f2ff;
        border-radius: 10px;
    }

    .suggest{
        padding-bottom: 10px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .suggest h5{
        font-weight: bold;
    }