@{
       ViewData["Title"] = "Register";
}
<style>
    .error {
        color: red;
    }
</style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login Form</h3>
                    </div>
                    <div class="card-body">
                        <form id="login-form">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter email">
                            </div>
                        <div class="form-group">
                            <label>Role</label><br>
                            @foreach(var role in ViewBag.Roles){
                             <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="role" id="@role.RoleName" value="@role.Id">
                                <label class="form-check-label" for="@role.RoleName">@role.RoleName</label>
                            </div>
                            }
                        </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                        @* link to register page *@
                        <div class="text-center">
                            <a asp-action="Index" asp-controller="Register">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
     $(document).ready(function() {
    debugger;
    //check if token is it localStorage
    if(localStorage.getItem("token") != null) {
         window.location.href = "/Home";
         return;
    }
    //add d-none class to any div have.form-check-inline class which has label with text not equal to "teacher" and "student"
    $("div.form-check-inline").each(function() {
        if($(this).find("label").text().toLowerCase() != "teacher"){
            if($(this).find("label").text().toLowerCase() != "student") {
                  $(this).addClass("d-none");
            }
        }
    });

    //set default student role is checked
    $("#Student").prop("checked", true);
        //on login form submit
        $("#login-form").submit(function (e) {
            e.preventDefault();
            //remove error div if exist
            $(".error").remove();
            //call api to login
            $.ajax({
                 url: "https://localhost:7290/api/Auth/login",
                 type: "POST",
                 contentType: "application/json",
                    data: JSON.stringify({
                        UserEmail : $('input[name=email]').val(),
                        UserPassword : $('input[name=password]').val(),
                        UserRoleId : $('input[name=role]:checked').val()
                    }),
                    success: function(response) {
                        //save token in local storage
                        localStorage.setItem("token", response.token);
          // redirect to login page
            window.location.href = "/Home";
        },
        error: function(xhr, status, error) {
              // Display the error message under the form
            var errorMessage = "";
            if(xhr.status == 401){
                errorMessage = "Email or Password is incorrect"
            }else if(xhr.status == 400){
                errorMessage = "Role is incorrect"
            }
            else {
                errorMessage = "Something went wrong";
            }
            var errorDiv = $("<div class='error'></div>").text(errorMessage);
            $("#login-form").prepend(errorDiv);
        }
                    })
        });
     });
    </script>
}